<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up page</title>
    <link rel="stylesheet" href="/flask_app/static/style.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@100&display=swap');</style>
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <h2 class="logo">Shipping Company Name</h2>
            <nav>
                <ul>
                    <li class="active">Home</li>
                    <li>About</li>
                    <li>Ship</li>
                    <li>Print</li>
                    <li>Deliver</li>
                    <li><button class="btn">Get In Touch</button></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h3>Shipping Service</h3>
            <h1>Labels<br> Tracking</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ad
                fugiat praesentium commodiex. Reprehenderit quidem laudantium doloribus! <br>
                Commodi voluptas expedita mollitia maxime beatae
                 nostrum corrupti nam omnis. Recusandae, nam?</p>
                 <button class="btn">Read More</button>
                 <button class="btn btn2">Policy</button>
        </div>
    </div>
</body>
</html>